body {
  background-color: #ff0039;
  text-align: center;
}
a {
text-decoration: none;
}
h1 {
  color: #18181c;
  user-select: none;
  text-decoration: none;
}
.avatar {
  width: 300;
  height: 300;
  border-radius: 150px;
  margin-top: 60;
  user-select: none;
  border: 3px solid black;
}
.icons{
  width: 50;
  height: 50;
  border-radius: 150px;
  user-select: none;
  possition: absolute;
  padding: 4;
}

