body {
  background-color: #a13;
  text-align: center;
  user-select: none;
}
h1 {
  color: #1ca;
}
.avatar {
  width: 300;
  height: 300;
  border-radius: 50%;
  margin-top: 60;
}
.github{
  width: 50;
  height: 50;
  border-radius: 50%;
}
.whatsapp{
  width: 50;
  height: 50;
  border-radius: 50%;
}
.telegram
{
  width: 50;
  height: 50;
  border-radius: 50%;
}
