body {
  background-color: #a13;
  text-align: center;
}
a {
text-decoration: none;
}
h1 {
  color: #1ca;
  user-select: none;
  text-decoration: none;
}
.avatar {
  width: 300;
  height: 300;
  border-radius: 50%;
  margin-top: 60;
  user-select: none;
 
}
.icons{
  width: 50;
  height: 50;
  border-radius: 50%;
  user-select: none;
  possition: absolute;
  padding: 4;
}

